*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start header */

    header{
        background-color: rgba(255,105,0,255);
    }

    .container{
        width: 80%;
        margin: 0 auto;
    }

    .row-header{
        height: 70px;
    }
    
    .col-header{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin-right: 5px ;
    }

    .image{
        width: 150px;
    }

    i{
        margin-left: 5px;
    }

    .symbol{
        font-size: 17px;
        color: white;
    }

/* end header */

/* color */

.red{
    background-color: red;
}

.text-white{
    color: white;
}

.green{
    background: green;
}

/* start main */

    .row-main{
        max-width: 100%;
        display: flex;
    }

    .col-main{
        width: calc(100% / 3);
    }

    .content-main{
        margin: 40px 15px 0 15px;
    }

    .content-main img{
        width: 100%;
    }

    .photo{
        position: relative;
    }
    
    .overlay{
        opacity: 0;
        position: absolute;
        top: 0;
    }

    .photo:hover .overlay{
        opacity: 1;
    }

    .position-absolute{
        position: absolute;
        bottom: 50px;
    }

    .heart{
        position: absolute;
        top: 10px;
        right: 0;
        font-size: 40px;
        padding: 5px 15px;
        background-color: white;
    }

    .background{
        padding: 5px 10px;
    }

    .price{
        color: red;
    }

    .price1{
        text-decoration: line-through;
    }