*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* start header */

    header{
        background-color: rgba(255,105,0,255);
    }

    .container{
        width: 70%;
        margin: 0 auto;
    }

    .row-header{
        height: 50px;
    }
    
    .col-header{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a{
        text-decoration: none;
        color: white;
    }

    .image{
        width: 100px;
    }

    .symbol{
        font-size: small;
        color: white;
    }

/* end header */

/* start main */

    .row-main{
        max-width: 100%;
        display: flex;
    }

    .col-main{
        width: calc(100% / 3);
    }

    .content-main{
        margin: 40px 15px 0 15px;
    }

    .content-main img{
        width: 100%;
    }

    .price{
        color: red;
    }

    .price1{
        text-decoration: line-through;
    }